.search{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.show-more{
    display: flex;
    align-items: center;
    justify-content: center;
}