.search{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 800px;
    width: 100%;
}

.show-more{
    display: flex;
    align-items: center;
    justify-content: center;
}