// font-size

$primary-title-fz: 36px;

$title-fz: 32px;

$standart-fz: 24px;

$sub-title-fz: 20px;

$link-fz: 14px;

$small-fz: 10px;

// color

$primary-color: #8C8C8C;

$primary-color-dark: #2D2D2D;

$primary-color-dark2 : #2A2A2A;

$secondary-color: #C78FFF;

$secondary-color-opacity: rgba(199, 143, 255, 0.5);

$contrast-color: #ffffff;

$main-gradient: linear-gradient(180deg, #2D2D2D 95%, rgba(199,143,255,0.90) 100%);

$header-gradient: linear-gradient(180deg, #C78FFF 0%, rgba(199, 143, 255, 0) 100%);

// font family 

$primary-ff: "VinnytsiaSans", serif;
